.educationHero{
    background-image: url('./educationHeroPic.jpg');
    height: 650px;
    background-size: cover;
    background-position: center;
}

.educationHero> p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    font-size: 75px;
    font-weight: bold;
}

h1 {
    /* color: palevioletred; */
    font-size: 45px;
    font-weight: bold;
    padding-top: 45px;
    padding-left: 45px;
    padding-bottom: 25px;
}

.className {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
    margin-top: 0px;
    padding-top: 15px;
}


h3 {
    /* color: palevioletred; */
    padding: 45px;
    font-size: 25px;
    line-height: 50px;
    font-weight: 100;
    text-align: justify;
    padding-top: 0;
    margin-top: 10px;
}


